{% extends "base/_layout_standard.html" %}
{% load staticfiles i18n %}
{% load bootstrap %}

{% block header_title %}
	Upload your template
{% endblock %}

{% block main %}

<div class="row">
	<div class="col-xs-12 col-md-8 col-sm-10">

		<div id="dropzone" class="well well-sm">
			<form class="dropzone dz-clickable" action="{{ request.path }}" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="">
					<span><button class="btn btn-primary">Upload files</button>&nbsp;&nbsp;&nbsp;or drop files here to upload</span>
				</div>
			</form>
		</div>

	</div>
</div>

{% endblock %}