Django==1.5.1
GnuPGInterface==0.3.2
MySQL-python==1.2.3
South==0.8.1
apt-xapian-index==0.44
argparse==1.2.1
balanced==0.11.10
boto==2.9.6
certifi==0.0.8
chardet==1.0.1
command-not-found==0.2.44
cssselect==0.8
## FIXME: could not find svn URL in dependency_links for this package:
distribute==0.6.24dev-r0
django-balanced==0.1.9
django-paypal==0.1.2
django-storages==1.1.8
iso8601==0.1.4
language-selector==0.1
lxml==3.2.1
mock==0.8.0
mongoengine==0.8.2
pymongo==2.5.2
pyquery==1.2.4
python-apt==0.8.3ubuntu7
python-debian==0.1.21ubuntu1
requests==1.2.3
simplejson==2.3.2
ufw==0.31.1-1
virtualenv==1.9.1
wsgiref==0.1.2
python-memcached
