<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>dazzle</title>

        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}core/css/reset.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}core/css/base.css">
    </head>

    <body>
        <div class="_landing">
            <div class="header">
                <div class="logo">
                    <img src="{{ STATIC_URL }}core/images/logos/dazzle.png" alt="dazzle"/>
                </div>

                <div class="slogan rounded">
                    <div class="h1">Create an amazing website in 15 minutes</div>

                    <div class="h2">Choose from the most beautiful designs on the web</div>

                        <form class="form-horizontal pagination-centered top_buttons">
                            <input type="text" class="input" value="Username">
                            <input type="text" class="input" value="Password"> 
                            <button class="input button button-action" type="submit">Get Started</button>
                        </form>
                </div>

            </div>
        </div>

    </body>
</html>