{% extends "core/__base.html" %}
{% load staticfiles i18n %}

{% block content %}

    <div class="landing_header">
        <div class="container">
            <div class="logo">
                <img src="{% static "core/images/logos/dazzle.png" %}" alt="dazzle" />
            </div>

            <div class="slogan rounded">
                <div class="h1">Create an amazing website in 15 minutes</div>

                <div class="h2">Choose from the most beautiful designs on the web</div>

                <form class="form-horizontal pagination-centered top_buttons">
                    <input type="text" class="input" value="Username">
                    <input type="text" class="input" value="Password"> 
                    <button class="input btn btn-primary" type="submit">Get Started</button>
                </form>
            </div>

        </div>
    </div>

{% endblock %}